---
import { Image } from "astro:assets";
import { t } from "astro-i18n";

interface Props {
  Title: string;
  num: string;
  year: string;
  Category: string;
  images?: ImageMetadata[];
  video?: { src: string; poster: string }[];
  description: string;
  link: string;
  linkText: string;
  collaborators?: { name: string; link: string }[];
  color: string;
}

const {
  Title,
  num,
  year,
  Category,
  images = [],
  video = [],
  description,
  link,
  linkText,
  collaborators = [],
  color
} = Astro.props;

function isLightColor(hex: string) {
  const c = hex.replace("#", "");
  const r = parseInt(c.substring(0, 2), 16);
  const g = parseInt(c.substring(2, 4), 16);
  const b = parseInt(c.substring(4, 6), 16);
  const luminance = (0.2126 * r + 0.7152 * g + 0.0722 * b) / 255;
  return luminance > 0.6;
}

const isLightBg = isLightColor(color);
const textColorClass = isLightBg ? "text-black" : "text-white";
---

<div class="h-full w-full">

    <div class="md:sticky md:top-0 z-30 flex justify-between w-full p-1 text-white">
        <div class="bg-black/75 backdrop-blur-xl rounded-md">
        <p class="px-2 py-1 uppercase">{Title}</p>
        </div>

        <div class="bg-black/60 backdrop-blur-xl rounded-md">
        <p class="px-2 py-1 tabular-nums">{year}</p>
        </div>
    </div>

    <div class="-mt-10 -z-10 flex flex-nowrap overflow-x-auto no-scrollbar aspect-video snap-x snap-mandatory" style={`background-color: ${color};`}>

        {video.map((v) => (
        <div class="w-full h-full flex-shrink-0 aspect-video snap-center snap-always">
            <video
            src={v.src}
            muted
            autoplay
            loop
            playsinline
            preload="none"
            poster={v.poster}
            class="w-full h-full object-cover aspect-video"
            ></video>
        </div>
        ))}

        {images.map((img, index) => (
        <div class="w-full h-full flex-shrink-0 aspect-video snap-center snap-always">
            <Image
            src={img}
            alt={`Image ${index + 1}`}
            width={1920}
            height={1080}
            format="webp"
            class="w-full h-full object-cover aspect-video"
            />
        </div>
        ))}

        <div class="w-screen h-full flex flex-shrink-0 whitespace-nowrap leading-tight snap-center">
            <div class="pt-10 w-full">
                <div class={`whitespace-normal break-words w-2/3 pl-2 ${textColorClass}`}>
                    <p class="hyphens-auto text-[8px]">{description}</p>
                    {link && (
                    <a href={link} target="_blank" class="hover:underline transition-all whitespace-nowrap text-[8px]">
                        → {linkText}
                    </a>
                    )}
                </div>
    
                <div
                    class={` ${textColorClass}`}
                >
                    {collaborators?.length > 0 && (
                    <>
                        <p>{t("index.collab")}:</p>
                        {collaborators.map((collab) =>
                        collab.link ? (
                            <a href={collab.link} target="_blank" class="block hover:underline transition-all text-[8px]">
                            {collab.name}
                            </a>
                        ) : (
                            <p>{collab.name}</p>
                        )
                        )}
                    </>
                    )}
                </div>
            </div>
        </div>

    </div>
</div>

<style>
  video,
  img {
    display: block;
    backface-visibility: hidden;
    transform: translateZ(0);
  }

</style>