---
import { Image } from "astro:assets";
import { t } from "astro-i18n";

interface Props {
  Title: string;
  num: string;
  year: string;
  Category: string;
  images?: ImageMetadata[];
  video?: { src: string; poster: string }[];
  description: string;
  link: string;
  linkText: string;
  collaborators?: { name: string; link: string }[];
  color: string
}

const {
  Title,
  num,
  year,
  Category,
  images = [],
  video = [],
  description,
  link,
  linkText,
  collaborators = [],
  color
} = Astro.props;
---
<div class="relative aspect-video w-full" style={`background-color: ${color};`} >

  <!-- OVERLAY -->
  <div class="absolute inset-0 z-20 text-white mix-blend-difference leading-tight pointer-events-none">

    <!-- DESKTOP HEADER -->
    <div class="hidden md:grid grid-cols-12 px-2 pt-1 sticky z-30">
      <p class="col-span-1 tabular-nums tracking-tighter">[{num}]</p>
      <p class="col-span-9 uppercase">{Title}</p>
      <p class="col-span-1 justify-self-end">{Category}</p>
      <p class="col-span-1 justify-self-end tabular-nums tracking-tighter">{year}</p>
    </div>

    <!-- MOBILE HEADER -->
    <div class="md:hidden flex justify-between px-2 pt-1">
      <div class="flex gap-2">
        <p class="tabular-nums tracking-tighter">[{num}]</p>
        <p class="uppercase">{Title}</p>
      </div>
      <p class="tabular-nums tracking-tighter">{year}</p>
    </div>





    <!-- <div class="max-md:hidden absolute bottom-2 left-2 right-2 z-30 flex items-end gap-6">
        <div class="max-w-[560px]">
            <p class="hyphens-auto opacity-80">
            {description}
            </p>

            {link && (
            <a
                href={link}
                target="_blank"
                class="pointer-events-auto block opacity-80 hover:opacity-100 transition-opacity"
            >
                → {linkText}
            </a>
            )}
        </div>

        {collaborators?.length > 0 && (
            <div class="ml-auto text-right align-bottom">
            {collaborators.map((collab) =>
                collab.link ? (
                <a
                    href={collab.link}
                    target="_blank"
                    class="pointer-events-auto block opacity-80 hover:opacity-100 transition-opacity"
                >
                    {collab.name}
                </a>
                ) : (
                <p class="opacity-80">{collab.name}</p>
                )
            )}
            </div>
        )}
    </div> -->
  </div>

  <!-- MEDIA SCROLLER -->
  <div class="relative z-0 flex h-full overflow-x-auto no-scrollbar scroll-smooth">

    {video.map((v) => (
      <div class="relative w-full aspect-video flex-shrink-0">
        <video
          src={v.src}
          muted
          autoplay
          loop
          playsinline
          preload="none"
          poster={v.poster}
          class="absolute inset-0 w-full h-full object-cover aspect-video"
        ></video>
      </div>
    ))}

    {images.map((img, index) => (
      <div class="relative w-full aspect-video flex-shrink-0">
        <Image
          src={img}
          alt={`Image ${index + 1}`}
          width={1920}
          height={1080}
          format="webp"
          class="absolute inset-0 w-full h-full object-cover aspect-video"
        />
      </div>
    ))}

     <div class="w-full md:w-[calc(100%*(11/12))] mt-6 flex flex-shrink-0 whitespace-nowrap leading-tight mix-blend-difference">
            <div class="whitespace-normal break-words max-w-[48%] pl-2 mix-blend-difference">
                <p class="hyphens-auto text-white mix-blend-difference">{description}</p>
                {link && (
                    <a href={link} target="_blank" class="hover:underline transition-all whitespace-nowrap text-white mix-blend-difference">
                        &rarr; {linkText}
                    </a>
                )}
            </div>
            <div class="sticky left-1/2 md:left-[calc(100%*(9/12))] max-w-[45%] md:max-w-[calc(100%*(2/12))] top-0 mix-blend-difference">
                {collaborators?.length > 0 && (
                    <>
                        <p class="text-white mix-blend-difference">{t("index.collab")}:</p>
                        {collaborators.map((collab) => (
                            collab.link ? (
                                <a href={collab.link} target="_blank" class="block hover:underline transition-all text-white mix-blend-difference">
                                    {collab.name}
                                </a>
                            ) : (
                                <p class="text-white mix-blend-difference">{collab.name}</p>
                            )
                        ))}
                    </>
                )}
            </div>
        </div>

  </div>
</div>